@model Presentation.Models.TariffDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var width = Model.LoanApplicationApprovalPercentage;
}
<h2>Tariff Details</h2>
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">@Html.DisplayFor(model => model.Name)</span>
        @Html.DisplayNameFor(model => model.Name)
    </li>
    <li class="list-group-item">
        <span class="badge">@Html.DisplayFor(model => model.LoanApplicationsCreated)</span>
        @Html.DisplayNameFor(model => model.LoanApplicationsCreated)
    </li>
    <li class="list-group-item">
        <span class="badge">@width%</span>
        @Html.DisplayNameFor(model => model.LoanApplicationApprovalPercentage)
    </li>
    <li class="list-group-item">
        <span class="badge">@Html.DisplayFor(model => model.LoansIssued)</span>
        @Html.DisplayNameFor(model => model.LoansIssued)
    </li>
    <li class="list-group-item">
        <span class="badge">@Html.DisplayFor(model => model.LoansActive)</span>
        @Html.DisplayNameFor(model => model.LoansActive)
    </li>
</ul>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
