@using PagedList
@using PagedList.Mvc

@model IPagedList<Domain.Models.Loans.Loan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Customer"))
{
    <h2>@User.Identity.Name loans</h2>
}
else if (User.IsInRole("Department head"))
{
    <h2>Loans info for @ViewBag.UserFirstName @ViewBag.UserLastName</h2>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Application.Tariff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Application.LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Application.TimeContracted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IsClosed)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                var itemApplication = item.Application;
                var isClosed = item.IsClosed ? "Yes" : "No";
            }
            <td>
                @Html.DisplayFor(modelItem => itemApplication.Tariff.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemApplication.LoanAmount)
                @Html.DisplayFor(modelItem => itemApplication.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemApplication.TimeContracted)
            </td>
            <td>
                @isClosed
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Payment schedule", "Schedule", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action(ViewBag.Action, new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
@if (User.IsInRole("Department head"))
{
    @Html.ActionLink("Back to All Customers", "All")
}