@model IEnumerable<Domain.Models.Loans.Payment>

@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment schedule</h2>

<div>
    <h4>PaymentSchedule</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Should Be Paid Before
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Main debt
            </th>
            <th>
                Accrued interest
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShouldBePaidBefore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainDebtAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccruedInterestAmount)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
