<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PROebank</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome")
    @Styles.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Chart")
    @Scripts.Render("~/amcharts")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class = "navbar-brand"><i class="fa fa-home"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("MainMenu", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="javascript:var%20s%20=%20document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='/Scripts/lsd.js';void(0);">&copy; @DateTime.Now.Year - </a>
            <a href="javascript:hs();">PROebank</a>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/proebank")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function harlemShake() { function l() { var e = document.createElement("link"); e.setAttribute("type", "text/css"); e.setAttribute("rel", "stylesheet"); e.setAttribute("href", a); e.setAttribute("class", f); document.body.appendChild(e) } function c() { var e = document.getElementsByClassName(f); for (var t = 0; t < e.length; t++) { document.body.removeChild(e[t]) } } function h() { var e = document.createElement("div"); e.setAttribute("class", u); document.body.appendChild(e); setTimeout(function () { document.body.removeChild(e) }, 100) } function p(e) { return { height: e.offsetHeight, width: e.offsetWidth } } function d(i) { var s = p(i); return s.height > e && s.height < n && s.width > t && s.width < r } function v(e) { var t = e; var n = 0; while (!!t) { n += t.offsetTop; t = t.offsetParent } return n } function m() { var e = document.documentElement; if (!!window.innerWidth) { return window.innerHeight } else if (e && !isNaN(e.clientHeight)) { return e.clientHeight } return 0 } function g() { if (window.pageYOffset) { return window.pageYOffset } return Math.max(document.documentElement.scrollTop, document.body.scrollTop) } function w(e) { var t = v(e); return t >= b && t <= y + b } function E() { setTimeout(function () { S(C) }, 800); setTimeout(function () { T(); h(); for (var e = 0; e < A.length; e++) { x(A[e]) } }, 16500) } function S(e) { e.className += " " + i + " " + s } function x(e) { e.className += " " + i + " " + o[Math.floor(Math.random() * o.length)] } function T() { var e = document.getElementsByClassName(i); var t = new RegExp("\\b" + i + "\\b"); for (var n = 0; n < e.length;) { e[n].className = e[n].className.replace(t, "") } } var e = 30; var t = 30; var n = 350; var r = 350; var i = "mw-harlem_shake_me"; var s = "im_first"; var o = ["im_drunk", "im_baked", "im_trippin", "im_blown"]; var u = "mw-strobe_light"; var a = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake-style.css"; var f = "mw_added_css"; var y = m(); var b = g(); var N = document.getElementsByTagName("*"); var C = null; for (var k = 0; k < N.length; k++) { var L = N[k]; if (d(L)) { if (w(L)) { C = L; break } } } l(); E(); var A = []; for (var k = 0; k < N.length; k++) { var L = N[k]; if (d(L)) { A.push(L) } } } var ready = function () { function i() { if (r.isReady) { return } try { document.documentElement.doScroll("left") } catch (e) { setTimeout(i, 1); return } r.ready() } function s(t) { r.bindReady(); var n = r.type(t); e.done(t) } var e, t, n = {}; n["[object Boolean]"] = "boolean"; n["[object Number]"] = "number"; n["[object String]"] = "string"; n["[object Function]"] = "function"; n["[object Array]"] = "array"; n["[object Date]"] = "date"; n["[object RegExp]"] = "regexp"; n["[object Object]"] = "object"; var r = { isReady: false, readyWait: 1, holdReady: function (e) { if (e) { r.readyWait++ } else { r.ready(true) } }, ready: function (t) { if (t === true && !--r.readyWait || t !== true && !r.isReady) { if (!document.body) { return setTimeout(r.ready, 1) } r.isReady = true; if (t !== true && --r.readyWait > 0) { return } e.resolveWith(document, [r]) } }, bindReady: function () { if (e) { return } e = r._Deferred(); if (document.readyState === "complete") { return setTimeout(r.ready, 1) } if (document.addEventListener) { document.addEventListener("DOMContentLoaded", t, false); window.addEventListener("load", r.ready, false) } else if (document.attachEvent) { document.attachEvent("onreadystatechange", t); window.attachEvent("onload", r.ready); var n = false; try { n = window.frameElement == null } catch (s) { } if (document.documentElement.doScroll && n) { i() } } }, _Deferred: function () { var e = [], t, n, i, s = { done: function () { if (!i) { var n = arguments, o, u, a, f, l; if (t) { l = t; t = 0 } for (o = 0, u = n.length; o < u; o++) { a = n[o]; f = r.type(a); if (f === "array") { s.done.apply(s, a) } else if (f === "function") { e.push(a) } } if (l) { s.resolveWith(l[0], l[1]) } } return this }, resolveWith: function (r, s) { if (!i && !t && !n) { s = s || []; n = 1; try { while (e[0]) { e.shift().apply(r, s) } } finally { t = [r, s]; n = 0 } } return this }, resolve: function () { s.resolveWith(this, arguments); return this }, isResolved: function () { return !!(n || t) }, cancel: function () { i = 1; e = []; return this } }; return s }, type: function (e) { return e == null ? String(e) : n[Object.prototype.toString.call(e)] || "object" } }; if (document.addEventListener) { t = function () { document.removeEventListener("DOMContentLoaded", t, false); r.ready() } } else if (document.attachEvent) { t = function () { if (document.readyState === "complete") { document.detachEvent("onreadystatechange", t); r.ready() } } } return s }()
    </script>
    <div style=" height:0px; width:0px; overflow:hidden;">
        <audio id="hsplayer" controls="controls" loop="loop">
            <source src="@Url.Content("~/Content/harlem.shake.ogg")" type="audio/ogg" />
        </audio>
    </div>
    <script>
        function hs() {
            harlemShake();
            document.getElementById('hsplayer').play();
        }
    </script>
</body>
</html>
