@{
    Layout = null;
}

<ul class="nav navbar-nav">
    @if (!User.Identity.IsAuthenticated || User.IsInRole("Customer"))
    {
        <li>@Html.ActionLink("Tariffs", "Index", "Tariffs")</li>
    }
    @if (User.IsInRole("Consultant"))
    {
        <li>@Html.ActionLink("Tariffs", "Index", "Tariffs")</li>
        <li>@Html.ActionLink("Applications", "Index", "LoanApplication")</li>
        <li>@Html.ActionLink("Loans", "Index", "Loan")</li>
        <li>@Html.ActionLink("Customers", "All", "Customer")</li>
    }
    else if (User.IsInRole("Operator"))
    {
        <li>@Html.ActionLink("Payments", "Index", "Atm")</li>
    }
    else if (User.IsInRole("Security"))
    {
        <li>@Html.ActionLink("Applications", "Index", "LoanApplication")</li>
        <li>@Html.ActionLink("Loans", "Index", "Loan")</li>
    }
    else if (User.IsInRole("Credit committee"))
    {
        <li>@Html.ActionLink("Applications", "Index", "LoanApplication")</li>
    }
    else if (User.IsInRole("Department head"))
    {
        <li>@Html.ActionLink("Applications", "Index", "LoanApplication")</li>
        <li>@Html.ActionLink("Loans", "Index", "Loan")</li>
        <li>@Html.ActionLink("Statistics", "Index", "Statistic")</li>
    }
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>