@using System.Globalization
@using Domain.Models.Loans
@model Presentation.Models.LoanCalculatorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>LoanCalculator</legend>

        <table>
            <tr class="control-group">
                <td>@Html.LabelFor(model => model.LoanAmount)

                </td>
                <td>
                    <div class="controls">
                        @Html.TextBoxFor(model => Model.LoanAmount)
                        @Html.ValidationMessageFor(model => model.LoanAmount, null, new { @class = "help-inline" })
                    </div>
                </td>
            </tr>
            <tr class="control-group">
                <td>@Html.Label("Choose tariff")
                </td>
                <td>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.TariffId, (IEnumerable<SelectListItem>)ViewBag.Tariffs, "Please select...")
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Term)</td>
                <td>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Term)
                        @Html.ValidationMessageFor(model => model.Term, null, new { @class = "help-inline" })
                    </div>
                </td>
            </tr>
        </table>
        @Html.ValidationMessageFor(model => model.TariffId, null, new { @class = "help-inline" })

        <table>
            <tr>
                <td>
                    <div class="form-actions no-color">
                        <input type="submit" value="Calculate" class="btn" />
                    </div>
                </td>
                <td>
                    <div class="form-actions no-color">
                        <input type="submit" name="btnToApplication" value="To Application" class="btn" />
                    </div>

                </td>
            </tr>
        </table>

    </fieldset>

    if (IsPost)
    {
        if (Model.Payments != null)
        {
    <h2>PaymentSchedule</h2>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Period(monthly)")
            </th>
            <th>
                @Html.Label("Total amount")
            </th>
            <th>
                @Html.Label("Main debtor amount")
            </th>
            <th>
                @Html.Label("Accrued Interest Amount")
            </th>
            <th>
                @Html.Label("Overdue Amount")
            </th>
        </tr>
        @{
            var counter = 0;
            decimal totalAmount = 0M;
            decimal mainDebtAmount = 0M;
            decimal accuedInterestAmount = 0M;
            decimal overdueAmount = 0M;           
        }
        @foreach (var payment in Model.Payments)
        {
            counter++;
            totalAmount += payment.Amount;
            mainDebtAmount += payment.MainDebtAmount;
            accuedInterestAmount += payment.AccruedInterestAmount;
            overdueAmount += payment.OverdueAmount;
            <tr>
                <td>@counter</td>
                <td>
                    @Html.Label("Amount", payment.Amount.ToString(CultureInfo.InvariantCulture))
                </td>
                <td>
                    @Html.Label("MainDebtAmount", payment.MainDebtAmount.ToString(CultureInfo.InvariantCulture))
                </td>
                <td>
                    @Html.Label("AccruedInterestAmount", payment.AccruedInterestAmount.ToString(CultureInfo.InvariantCulture))
                </td>
                <td>
                    @Html.Label("OverdueAmount", payment.OverdueAmount.ToString(CultureInfo.InvariantCulture))
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <td>TOTAL:</td>
                <td>@Convert.ToString(totalAmount)</td>
                <td>@Convert.ToString(mainDebtAmount)</td>
                <td>@Convert.ToString(accuedInterestAmount)</td>
                <td>@Convert.ToString(overdueAmount)</td>
            </tr>
        </tfoot>


    </table>
        }
    }

}