@model Domain.Models.Loans.LoanApplication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Application information</h4>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.LoanAmount)
                <div class="display-field">
                    @Html.DisplayFor(model => model.LoanAmount)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Term)
                <div class="display-field">
                    @Html.DisplayFor(model => model.Term)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.CellPhone)
                <div class="display-field">
                    @Html.DisplayFor(model => model.CellPhone)
                </div>
            </div>
        
            <div class="form-group">
                @Html.DisplayNameFor(model => model.ReceiveToCard)
                <div class="display-field">
                    @Html.DisplayFor(model => model.ReceiveToCard)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Tariff)
                <div class="display-field">
                    @Html.DisplayFor(model => model.Tariff.Name)
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <h4>Debtor personal information</h4>
            <div class="form-group">
                @Html.DisplayFor(model => model.PersonalData)
            </div>

        </div>

        <div class="col-md-3">
            <h4>Debtor personal information</h4>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.MiddleIncome)
                <div class="display-field">
                    @Html.DisplayFor(model => model.MiddleIncome)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.ChildrenCount)
                <div class="display-field">
                    @Html.DisplayFor(model => model.ChildrenCount)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.HigherEducation)
                <div class="display-field">
                    @Html.DisplayFor(model => model.HigherEducation)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.IsMarried)
                <div class="display-field">
                    @Html.DisplayFor(model => model.IsMarried)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.LengthOfWork)
                <div class="display-field">
                    @Html.DisplayFor(model => model.LengthOfWork)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.IsHomeowner)
                <div class="display-field">
                    @Html.DisplayFor(model => model.IsHomeowner)
                </div>
            </div>

            <div class="form-group">
                <div class="display-field">
                    @Html.HiddenFor(model => model.LoanPurpose)
                </div>
            </div>

            <div class="form-group">
                <div class="display-field">
                    @Html.HiddenFor(model => model.Currency)
                </div>
            </div>

            <div class="form-group">
                <div class="display-field">
                    @Html.HiddenFor(model => model.TimeCreated)
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div id="guarantorInfo">
                <h4>Guarantor personal information</h4>
                <div class="form-group">
                    @Html.DisplayFor(model => model.Guarantor)
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Fill", new { id = Model.Id }, new {@class = "btn btn-primary"})*@
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
