@using Domain.Enums
@using Glimpse.Core.Extensions
@model IEnumerable<Domain.Models.Loans.LoanApplication>

@{
    ViewBag.Title = @ViewBag.ActiveTab + " applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $('#loan-application-tab-' + '@ViewBag.ActiveTab'.toLowerCase()).addClass('active');
    </script>
}

<h2>@ViewBag.ActiveTab Applications</h2>


@if (User.IsInRole("Consultant"))
{
    <a href="@Url.Action("Create")" class="btn btn-default"><i class="fa fa-plus"></i> Create new</a>
}

<ul class="nav nav-tabs">
    @if (User.IsInRole("Consultant"))
    {
        <li id="loan-application-tab-new"><a href="@Url.Action("New")"><i class="fa fa-file-text fa-2x"></i></a></li>
        <li id="loan-application-tab-reviewed"><a href="@Url.Action("Reviewed")"><i class="fa fa-unlock fa-2x"></i></a></li>
        <li id="loan-application-tab-contracted"><a href="@Url.Action("Contracted")"><i class="fa fa-briefcase fa-2x"></i></a></li>
    }
    else if (User.IsInRole("Security"))
    {
        <li id="loan-application-tab-security"><a href="@Url.Action("OnSecurityReview")"><i class="fa fa-lock fa-2x"></i></a></li>
    }
    else if (User.IsInRole("Credit committee"))
    {
        <li id="loan-application-tab-committee"><a href="@Url.Action("OnCommitteeReview")"><i class="fa fa-users fa-2x"></i></a></li>
    }
    else if (User.IsInRole("Department head"))
    {
        <li id="loan-application-tab-all"><a href="@Url.Action("Index")"><i class="fa fa-globe fa-2x"></i></a></li>
        <li id="loan-application-tab-contracted"><a href="@Url.Action("Contracted")"><i class="fa fa-briefcase fa-2x"></i></a></li>
    }
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tariff.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </th>
            @if ((string)ViewBag.ActiveTab == "contracted")
            {
        <th>
            @Html.DisplayNameFor(model => model.TimeContracted)
        </th>
            }
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanPurpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tariff.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            @if (item.Status == LoanApplicationStatus.Contracted)
            {
            <td>
                @Html.DisplayFor(modelItem => item.TimeContracted)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Term) month(s)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                        @switch (item.Status)
                        {
                            case LoanApplicationStatus.New:
                    case LoanApplicationStatus.InitiallyApproved:
                        <a href="@Url.Action("SecondStage", new { id = item.Id })" title="SecondStage" class="btn btn-primary btn-xs"><i class="fa fa-paperclip fa-lg"></i> Fill docs</a>
                                break;
                    case LoanApplicationStatus.UnderCommitteeConsideration:
                    case LoanApplicationStatus.UnderRiskConsideration:
                        <a href="@Url.Action("Details", new { id = item.Id })" title="Details" class="btn btn-default btn-xs"><i class="fa fa-info fa-lg"></i></a>
                        <a href="@Url.Action("History", new { id = item.Id })" title="History" class="btn btn-default btn-xs"><i class="fa fa-envelope fa-lg"></i></a>
                        <a href="@Url.Action("Approve", new { id = item.Id })" title="Approve" class="btn btn-primary btn-xs"><i class="fa fa-check fa-lg"></i> Fill docs</a>
                        <a href="@Url.Action("Reject", new { id = item.Id })" title="Reject" class="btn btn-danger btn-xs"><i class="fa fa-times fa-lg"></i> Fill docs</a>
                        break;
                            case LoanApplicationStatus.Approved:
                        <a href="@Url.Action("Contract", new { id = item.Id })" title="Contract" class="btn btn-success btn-xs"><i class="fa fa-pencil fa-lg"></i> Sign contract</a>
                                break;
                            }
                            <li><a href="@Url.Action("Edit", new { id = item.Id})" title="Edit" class="btn btn-default btn-xs"><i class="fa fa-edit fa-lg fa-lg"></i></a></li>
                            <li><a href="@Url.Action("Details", new { id = item.Id })" title="Details" class="btn btn-default btn-xs"><i class="fa fa-info-circle fa-lg"></i></a></li>
                            <li><a href="@Url.Action("Delete", new { id = item.Id})" title="Delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o fa-lg"></i></a></li>
                        </ul>
                    </div>*@
                @switch (item.Status)
                {
                    case LoanApplicationStatus.New:
                    <a href="@Url.Action("Fill", new {id = item.Id})" title="Fill" class="btn btn-success btn-xs"><i class="fa fa-thumbs-up fa-edit"></i> Fill</a>
                    @:|
                        break;
                    case LoanApplicationStatus.InitiallyApproved:
                    <a href="@Url.Action("Approve", new {id = item.Id})" title="Approve" class="btn btn-success btn-xs"><i class="fa fa-thumbs-up fa-lg"></i> Approve</a>
                    <a href="@Url.Action("Reject", new {id = item.Id})" title="Reject" class="btn btn-danger btn-xs"><i class="fa fa-minus-square fa-lg"></i> Reject</a>
                    @:|
                        break;
                    case LoanApplicationStatus.Contracted:
                        break;
                }
            </td>
        </tr>
    }

</table>
