@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="bankName" onclick="generateName();">PROebank</h1>
    <p class="lead">We will not let you down!</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tariffs</h2>
        <p>proTariffs for you!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Tariffs")">Learn more &raquo;</a></p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Customer"))
        {
            <div class="col-md-4">
                <h2>My loans</h2>
                <p>
                    Visit your personal area to see your current loans
                </p>
                <p><a class="btn btn-default" href="@Url.Action("Index", "Customer")">View &raquo;</a></p>
            </div>
        }
        if (User.IsInRole("Department head"))
        {
            <div class="col-md-4">
                <h2>Calendar</h2>
                <p>
                    Move bank time
                </p>
                <p><a class="btn btn-default" href="@Url.Action("Index", "Processing")">View &raquo;</a></p>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <h2>Loan applications</h2>
                <p>
                    View current loan applications in different statuses
                </p>
                <p><a class="btn btn-default" href="@Url.Action("Index", "LoanApplication")">View &raquo;</a></p>
            </div>
        }
    }
    else
    {
        <div class="col-md-4">
            <h2>Loan calculator</h2>
            <p>
                Select the most suitable loan conditions for you
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "LoanCalculator")">View &raquo;</a></p>
        </div>
    }
    <div class="col-md-4">
        <h2>New application</h2>
        <p>Here you can apply for loan</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "LoanApplication")">Apply &raquo;</a></p>
    </div>
</div>

<script>
    function generateName (e) {
        $('#bankName').on('click', function (e) {
            var pre = [
                'PRO',
                'ZA',
                'VY',
                'PERE',
                'OB',
                'OT',
                'U',
                'POD'
            ];
            var bankName = pre[Math.floor(Math.random() * pre.length)]+'ebank';
            $('#bankName').text(bankName);
        });
    }

</script>