@model Domain.Models.Users.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Details</h2>
	<hr />

<div>
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.UserName)</span>
            @Html.DisplayNameFor(model => model.UserName)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.LastName)</span>
            @Html.DisplayNameFor(model => model.LastName)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.FirstName)</span>
            @Html.DisplayNameFor(model => model.FirstName)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.HiredOn)</span>
            @Html.DisplayNameFor(model => model.HiredOn)
        </li>
        <li class="list-group-item">
            <span class="badge">@Html.DisplayFor(model => model.EmployeeRole)</span>
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </li>
    </ul>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
