@using Microsoft.Ajax.Utilities
@model Presentation.Models.LoanDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loan details</h2>

<div class="row">
    <hr />
    @if (Model != null)
    {
        var personalData = @Model.Customer.PersonalData;
        <div class="col-md-6">
            <h3>Loan tariff: @Model.TariffName</h3>
            <h3>Term: @Model.Term month(s)</h3>
            <h3>Amount: @Model.Amount @Model.Currency</h3>
            <h3>Customer: @personalData.LastName @personalData.FirstName @personalData.MiddleName</h3>
            @if (Model.CanBeClosed)
            {
                <a href="@Url.Action("Close", new { id = Model.Id })" class="btn btn-primary">Close loan</a>
            }
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Account</th>
                    <th>Number</th>
                    <th>Balance</th>
                </tr>
                @foreach (var account in Model.Accounts.OrderBy(a => a.Type))
                {
                    <tr>
                        <td>@account.Type</td>
                        <td>@account.NumberText</td>
                        <td>@account.Balance @account.Currency</td>
                    </tr>
                }
            </table>
            <br/>
        </div>
        <div class="col-md-12">
            <h4>Accrual/payment history</h4>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Account</th>
                    <th>Type</th>
                    <th>Subtype</th>
                </tr>
                @foreach (var entry in Model.Entries.Reverse())
                {
                    var trClass = entry.Item2.Amount > 0 ? "" : "success";
                    <tr class="@trClass">
                        <td>@entry.Item2.Date</td>
                        <td>@entry.Item2.Amount @entry.Item2.Currency</td>
                        <td>@entry.Item1.NumberText (@entry.Item1.Type)</td>
                        <td>@entry.Item2.Type</td>
                        <td>@entry.Item2.SubType</td>
                    </tr>
                }
            </table>

            <div class="col-md-12">
                <h4>Documents</h4>
                <a href="@Url.Action("PrintContract", Model)" class="btn btn-default" target="blank"><i class="fa fa-print"></i> Print contract</a>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
