@using PagedList
@using PagedList.Mvc
@model IPagedList<Presentation.Models.LoanWithCustomerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isHead = User.IsInRole("Department head");
    var isConsultant = User.IsInRole("Consultant");
    var isSecurity = User.IsInRole("Security");
}
@section scripts{
    <script type="text/javascript">
        $('#loan-tab-' + '@ViewBag.ActiveTab'.toLowerCase()).addClass('active');
    </script>
}

<!DOCTYPE html>
<html>
    <head>
        <title>Loans</title>
    </head>
    <body>
        <div>
            <h2>@ViewBag.ActiveTab Loans</h2>
            <ul class="nav nav-tabs">
                @if (isHead)
                {
                    <li id="loan-tab-all"><a href="@Url.Action("All")"><i class="fa fa-file-text fa-2x"></i></a></li>
                }
                @if (isHead || isSecurity)
                {
                    <li id="loan-tab-trouble"><a href="@Url.Action("InTrouble")"><i class="fa fa-warning fa-2x"></i></a></li>
                }
                @if (isHead || isConsultant)
                {
                    <li id="loan-tab-active"><a href="@Url.Action("Active")"><i class="fa fa-play fa-2x"></i></a></li>
                }
                @if (isHead)
                {
                    <li id="loan-tab-closed"><a href="@Url.Action("Closed")"><i class="fa fa-stop fa-2x"></i></a></li>
                }
            </ul>
            <table class="table">
                <tr>
                    <th>
                        Customer
                    </th>
                    <th>
                        Identification number
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Loan.Application.LoanAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Loan.Application.Tariff.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Loan.Application.Term)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Loan.IsClosed)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.PersonalData.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.PersonalData.Identification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loan.Application.Currency)
                            @Html.DisplayFor(modelItem => item.Loan.Application.LoanAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loan.Application.Tariff.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loan.Application.Term)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Loan.IsClosed)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Loan.Id })" title="Details" class="btn btn-info btn-xs"><i class="fa fa-info fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </table> 
            @Html.PagedListPager(Model, page => Url.Action(ViewBag.ActiveTab, new{page}),new PagedListRenderOptions(){Display = PagedListDisplayMode.IfNeeded})
        </div>
    </body>
</html>