@using Domain.Enums
@model Domain.Models.Loans.LoanApplication

@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Signing</h2>

<div class="container">
    <div class="row">
        <h4>Preview of loan contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanAmount)
                @Html.DisplayFor(model => model.Currency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Term)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Term)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CellPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CellPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tariff.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tariff.Name)
            </dd>

        </dl>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("PrintContract", new {id = Model.Id})" id="printContractButton" class="btn btn-default" target="blank"><i class="fa fa-print"></i> Print contract</a>
            @if (!Model.TimeContracted.HasValue)
            {
                using (Html.BeginForm())
                 {
                     @Html.AntiForgeryToken()
                     @Html.HiddenFor(model => model.Id)
                     if (Model.Status == LoanApplicationStatus.Approved || Model.Status == LoanApplicationStatus.ContractPrinted)
                     {
                         <div class="form-actions no-color">
                             <input type="submit" id="submittButton" value="Sign" class="btn disabled" />
                         </div>
                     }
                 }
            }
            <a href="@Url.Action("Index")" id="backButton" class="btn btn-default disabled"><i class="fa fa-backward"></i> Return</a>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#printContractButton').click(function (e) {
            $('#printContractButton').addClass('disabled');
            $('#submittButton').removeClass('disabled');
            $('#submittButton').addClass('btn-success');
        });
        $('#submittButton').click(function (e) {
            $('#submittButton').addClass('disabled');
            $('#backButton').removeClass('disabled');
            $('#backButton').addClass('btn-success');
        });
    </script>
}